body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
}

.contactAboutText {
  text-align: center;
  font-size: x-large;
  padding: 60px 200px
}

.indexBackground {
  background-color: black;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position:left top;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

.navbar {
  z-index: 1;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}


.login-form {
  background-color: black;
  background-image: url(img/login.jpg);
  background-repeat: no-repeat;
  background-position:left top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

.single-product {
 height: 200px;
 background-image: url(img/background.jpg);
 background-repeat: no-repeat;
 background-position:left top;
 background-size: cover;
}

.headerStyle {
  text-decoration: underline;
  text-align: center;
  padding-top: 50px;
  font-size: 350%;
}

.cart-background {
  height: 200px;
  background-image: url(img/checkout-header.jpg);
  background-repeat: no-repeat;
  background-position:left top;
  background-size: cover;
 }

.cartHeader {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  left: 15px;
  font-weight: bold;
}

.about {
  background-color: black;
  background-image: url(img/about-background.jpg);
  background-repeat: no-repeat;
  background-position:left top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

.about-name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.title {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: black;
}

.ordersTitle {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.productsBackground {
  background-color: black;
  background-image: url(img/products-background.jpg);
  background-repeat: no-repeat;
  background-position:left top;
  background-size: cover;
  background-position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.centered-text {
  text-align: center;
}
